# IDE Files
.idea/**
*.iml

# Diagram Artefacts
*.png
*.svg

# macOS
.DS_Store

# Virtual environments
.venv*

# vscode
.vscode/**

#env files
*.env


# __pycache__
__pycache__/
.pytest_cache/
elastic_cache/
elastic_data/
postgres_data/