# IDE Files
.idea/**
*.iml

# Diagram Artefacts
*.png
*.svg

# macOS
.DS_Store

# Virtual environments
.venv*

# vscode
.vscode/**

#env files
*.env


# __pycache__
__pycache__/
*/.pytest_cache/*

# docker volumes
elastic_cache/*
elastic_data/*
postgres_data/*
*/elastic_cache/*
*/elastic_data/*
*/postgres_data/*

**/client_secret.json
**/token.json

# Cypress
node_modules/
cypress/screenshots/
cypress/videos/
cypress/logs/
